{% extends 'basepage/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static "home/css/style.css" %}">
{% endblock style %}

{% block content %}
<div class="album py-4 bg-light">
    <div class="container">
        <div class="card-deck">
            <div class="card h-50">
                <div class="btn btn-dark" onclick="location.href='{% url 'listcourses:list' %}'">
                    <div class="card-header">
                        <h4 class="text-center font-weight-bold mt-1 mb-1">Professional</h4>
                    </div>
                    <img class="card-img-top embed-responsive-item img" src="{% static "home/img/datascientist.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-size: 18px">Projects & Expeirence</p>
                    </div>
                </div>
            </div>
            <div class="card h-50">
                <div class="btn btn-dark" onclick="location.href='{% url 'listcourses:list' %}'">
                    <div class="card-header">
                        <h4 class="text-center font-weight-bold mt-1 mb-1">Academic</h4>
                    </div>
                    <img class="card-img-top embed-responsive-item img" src="{% static "home/img/academic.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-size: 18px">Coursework, Seminars etc</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}