.good-grade {
    border-radius: 25px;
    width: 64px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

.normal-grade {
    border-radius: 25px;
    width: 64px;
    text-align: center;
    background-color: rgb(228, 206, 8);
    color: white;
}

.bad-grade {
    border-radius: 25px;
    width: 64px;
    text-align: center;
    background-color: red;
    color: white;
}

.excluded-component {
    border-radius: 25px;
    text-align: center;
    background-color: #6E6E6E;
    color: white;
}
